attrs==19.3.0
boto3==1.12.37
botocore==1.15.37
bunch==1.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
comet-git-pure==0.19.15
comet-ml==3.1.4
configobj==5.0.6
docutils==0.15.2
everett==1.0.2
gevent==1.5.0
greenlet==0.4.15
idna==2.9
jmespath==0.9.5
joblib==0.14.1
jsonschema==3.0.2
netifaces==0.10.9
numpy==1.18.2
nvidia-ml-py3==7.352.0
pandas==1.0.3
pyrsistent==0.16.0
python-dateutil==2.8.1
pytorch-ignite==0.3.0
pytorch-transformers==1.2.0
pytz==2019.3
regex==2020.4.4
requests==2.23.0
s3transfer==0.3.3
sacremoses==0.0.38
sentencepiece==0.1.85
six==1.14.0
style==1.1.0
torch==1.4.0
tqdm==4.45.0
typing-extensions==3.7.4.2
update==0.0.1
urllib3==1.25.8
websocket==0.2.1
wurlitzer==2.0.0
