bunch==1.0.1
comet_ml==3.1.11
data-science-types==0.2.12
fairseq==0.9.0
fastBPE==0.1.0
mypy==0.780
numpy==1.19.0
pipreqs==0.4.10
pre-commit==2.4.0
protobuf==3.12.2
pytest==5.4.3
pytorch_lightning==0.7.6
scikit_learn==0.23.1
torch==1.5.0
transformers==2.10.0
